table
{
    border-collapse: collapse;
}
table td, table th
{
    padding: 0;
    vertical-align: top;
    text-align: left;
}


/* Navigation */
.left
{
    text-align: left !important;
    padding-left: 5px !important;
    padding-top: 2px !important;
}

.right
{
    text-align: right !important;
    padding-right: 5px !important;
    padding-top: 2px !important;
}

.center
{
    text-align: center !important;
    vertical-align: middle !important;
}

.selected
{
    text-decoration: none !important;
    font-weight: bold;
}


.MessageBox
{
    float: left;
    font-family: Arial, Sans-Serif;
    font-size: 11px;
    font-weight: bold;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 20px;
    margin-bottom: 3px;
    margin-top: 2px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px 3px 3px 3px;
}


/* Add new event -hoverarea */
.addArea
{
    display: block;
    color: #fff;
    background-color: #fff;
    height: 7px;
    width: 100%;
    border: none;
}

.addArea:hover
{
    background-color: rgb(149, 179, 222);
    cursor: text;
}


/* Event listview */
.listcontainer
{
    font-size: 12px;
    font-family: "Lucida Grande" , Arial, "Trebuchet MS" , Verdana, sans-serif;
    color: #454545;
    padding: 1px 0px 2px 0px;
}

.small
{
    font-size: 9px;
}

.medium
{
    font-size: 11px;
}

.large
{
    font-size: 13px;
}

.grey
{
    color: #999999;
    font-size: 9px;
}
.event th
{
    background-color: #95B3DE;
    text-align: left;
    padding: 1px 1px 1px 5px;
    color: #ffffff;
    font-size: 11px;
}
.event td
{
    padding: 1px 1px 1px 2px;
    border-bottom: 1px solid #ccc;
}
.old td
{
    background-color: #e8eefa;
}

.edit td
{
    background-color: white;
    border-bottom-color: transparent;
}
.event .ItemTemplate
{
    display: inline-block;
}

.editArea
{
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none !important;
}

.editArea:hover
{
    background-color: #fff;
    cursor: text;
}

.linkButton
{
    cursor: pointer;
    background-color: transparent;
    text-decoration: underline;
    background-color: transparent;
    border: 0;
    padding: 0;
    margin-left: 5px;
    font-size: 11px;
    font-family: "Lucida Grande" , Arial, "Trebuchet MS" , Verdana, sans-serif;
}


/* jQuery UI Timepicker */
.ui-timepicker-div .ui-widget-header
{
    margin-bottom: 8px;
}
.ui-timepicker-div dl
{
    text-align: left;
}
.ui-timepicker-div dl dt
{
    height: 25px;
}
.ui-timepicker-div dl dd
{
    margin: -25px 0 10px 65px;
}
.ui-timepicker-div .ui_tpicker_hour div
{
    padding-right: 2px;
}
.ui-timepicker-div .ui_tpicker_minute div
{
    padding-right: 6px;
}
.ui-timepicker-div .ui_tpicker_second div
{
    padding-right: 6px;
}
.ui-timepicker-div td
{
    font-size: 90%;
}


/* UserSettings */
.container
{
    background-color: white;
}

#settings .container .hd, #settings .container .hd TD
{
    background-color: #95B3DE;
    padding: 1px 1px 1px 3px;
    font-weight: bold;
    text-align: left;
    color: #ffffff !important;
    font-size: 11px !important;
}

#settings .container .bd
{
    background-color: white;
    font-size: 11px;
    font-family: "Lucida Grande" , Arial, "Trebuchet MS" , Verdana, sans-serif;
}


/* Event entry form */

.fmCategories
{
    display: table;
}

.fmLabel
{
    display: table-cell;
    width: 30px !important;
    text-align: left;
    vertical-align: middle;
}

.fmColumn
{
    display: table-column;
    width: 30px;
}

.fmCell
{
   display: table-cell;
}

.fmSpacing
{
    margin-top: 3px;
}

div.fmImageButton
{
    display: inline-block;
}

.fmTextBox, .fmDropDownList
{
    border: solid 1px #266199;
    border-collapse: collapse;
    color: #266199;
    font-family: "Lucida Grande" , Arial, "Trebuchet MS" , Verdana, sans-serif;
    font-size: 13px !important;
    height: 20px;
    line-height: 20px;
    padding: 5px;
    text-align: left;
    margin: 0px;
}

.fmDropDownList
{
      height: 30px;
    line-height: 30px;
}


.ui-icon a
{
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
}

.tdLabel
{
     width: 130px;
     font-family: "Lucida Grande" , Arial, "Trebuchet MS" , Verdana, sans-serif;
     font-weight: bold;
     font-size: 13px;
     padding-right: 10px;
     vertical-align: middle;
     text-align: right;
     white-space:nowrap;
}

.tdPadding
{
    padding-bottom: 20px !important;
}

.tdField
{
    font-family: "Lucida Grande" , Arial, "Trebuchet MS" , Verdana, sans-serif;
    font-size: 13px;
}

.tdLabel label
{
    padding-right: 10px;
}

.top
{
    vertical-align: top;
}

.buttonwrapper
{
    font-size: 12px;
    margin-left: 130px;
    margin-bottom: 10px;
}

.ui-state-default
{
    vertical-align: middle;
}

.red
{
    color: red;
}


/* DNN Pager */
.pager
{
    border: 0px;
}

.pager td
{
    padding-right: 10px;
}

.inactive
{
    color: #000000;
}
